@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@font-face {
    font-family: RadleySans;
    src: url(../fonts/RadleySans.ttf);
}

html, body {
	height: 100vh;
}

body {
	overflow-anchor: none; /*Prevents the navbar shrink animation from getting stuck in a loop*/
	font-family: 'Open Sans', sans-serif;
}

/* Makes the background blue underneath the footer if zommed out or on big screen */
.dialog-off-canvas-main-canvas {
	height: 100%;
	background-color: #0000A6;
}

#main-wrapper {
	min-height: 300px;
	padding-top: 1rem;
}

.row {
	margin-right: 0; /*Makes the website not scrollale sideways*/
}

/* Navbar styling */
#block-pingpong-main-menu .nav-link {
	color: white;
  	white-space: nowrap;
}

#block-pingpong-main-menu .nav-link:hover {
	color: #bbb;
}

#block-pingpong-main-menu ul {
 	flex-flow: row nowrap;
 	justify-content: center;
}

#navbar-top {
 	flex-wrap: nowrap;
 	background-color: #2122BB;
 	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
 	position: sticky;
 	width: 100%;
 	z-index: 500;
 	top: 0;
 	transition: all 0.3s;
}

/* Menu dropdown items styling */
.dropdown-item:hover, .dropdown-item.active {
	background-color: inherit;
}

.dropdown-item a {
	text-decoration: none;
}

.dropdown-item a:hover {
    color: #04a3ff; 
	transition: .3s;
}


#block-pingpong-account-menu .nav {
	justify-content: end;
}

/* Frontpage banner styling */
.banner {
	height: 85vh;
	min-height: 500px;
	background-image: url('/themes/pingpong/images/banner.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.3s;
}

.banner h1 {
	color: #fff;
	font-size: 5rem;
	font-family: RadleySans;
	text-shadow: 4px 4px 1px black;
	margin-bottom: 0;
}
	
.banner p {
	color: #004EE0;
	text-shadow: 2px 2px 4px black;
	font-size: 2.25rem;
}

.nav-item {
 	padding-left: 1rem;
 	padding-right: 1rem;
 	font-size: 1.1rem;
 	font-weight: 700;
 	color: white;
 }

/* Make the logo clickable only on itself */
section.region-secondary-menu {
	display: inline-block;
	padding-left: 2em;
}

.navbar-brand img {
	padding-right: 0.5em;
	transition: all 0.3s;
	width: 70%;
	min-width: 5.25rem;
}

/* Navbar shrink class that gets added to the logo on scroll by javascript */
.logo-min {
	width: 40% !important;
}

.field__label {
  font-weight: 700;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.field__label::after {
  content: ":";
}

.menu-list {
	margin-right: auto;
	margin-left: auto;
}

.login-list {
	margin-left: auto;
}

/* News view styling */
.news .view-content.row {
	border-top: 1px solid rgba(0,0,0, 0.2);
	max-width: 900px;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 1rem;	
}

.news .views-row {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.news .ds-1col {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-basis: 10rem;
}

.news h1.title {
	text-align: center;
	font-size: calc(1.325rem + .9vw); /* Same size as the other titles on the frontpage */
}

.news h2 {
	font-size: 1.5rem;
	margin-bottom: 0;
}

.news h2 a {
	text-decoration: none;
}

/* Makes the dates of different lengths align in the news view*/
.news .ds-1col > div:nth-of-type(2) {
	min-width: 9rem;
}

.more-link {
	display: block;
	text-decoration: none;
	text-align: center;
	margin-bottom: 4rem;
}

/* Specific for /nyheter page */
.news .pagination {
	justify-content: center;
}

.path-nyheter h1.title {
	text-align: center;
}

.path-nyheter .news {
	margin-bottom: 4rem;
}



/* Sidebar slide in menu styling */
#offcanvasRight {
	background-color: #0000A6;
	transform: 0.3s ease-in-out;
}

/* Override inline styles, temporary */
#offcanvasRight .dropdown-menu {
	position: static !important;
	transform: none !important;
}

#offcanvasRight .offcanvas-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Style for the label inside the offcanvas menu */
#offcanvasRightLabel {
	color: black;
	font-weight: 700;
	font-size: 1.4rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}


/* Footer styling */
.site-footer h2 {
	text-transform: none;
	color: #fff;
	border: none;
	font-size: 1.1rem;
	font-weight: bold;
}

.site-footer .block {
	border: none;
}

.site-footer {
	background-color: #055A8E;
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
	padding-right: 10rem;
	padding-left: 10rem;
	font-family: 'Open Sans', sans-serif;
}


/* Remove feed icons, and unnecessary info when you comment */
.feed-icons, #edit-comment-body-0-format {
	display: none;
}

/* Styling for the intro/sponsors/framsida-kalender section */
.card {
	border: none;
	max-width: 20rem;
	background-color: #F5F5F5;
	box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.07);
}

.card-body {
	background-color: #F5F5F5;
}

.intro > div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 2rem;
	margin-bottom: 4rem;
	margin-top: 2rem;
}

.sponsors h2, .intro h2, .featured-bottom h2 {
	text-align: center;
	margin-top: 1rem;
}

.sponsors > div {
	display: flex;
  	align-items: center;
  	justify-content: space-evenly;
  	margin: 4rem 0;
  	gap: 1rem;
}

.framsida-kalender .fc-toolbar {
	display: none;
}

.framsida-kalender {
	margin-top: 1.5rem;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}

.framsida-kalender .fc-scroller {
	height: initial !important;
}

.framsida-kalender .fc-list-heading-alt {
	text-transform: capitalize;
}

.framsida-kalender .fc-view {
	border: none;
}


/* Calendar styling */
.fc-toolbar.fc-header-toolbar h2 {
	text-align: center;
	text-transform: capitalize;
}

/* Prevents the calendar from being too small on mobile*/
.fc-scroller {
	min-height: 314.6px;
}

.fc-today-button {
	margin-left: 1rem;
}

.path-kalender #content {
	padding: 0 15%;
}

/* Set min-width to the labels so that their content aligns when viewing an single event*/
.node--type-events .field__label {
	min-width: 3.2rem;
}

table {
	margin: 0;
}

tr {
	background-color: transparent;
}

thead > tr {
	border-bottom: none;
}

table tr th {
	background-color: #004ee0;
}

.fc-day-header:first-of-type, .fc-axis.fc-widget-header {
	border-top-left-radius: 0.5rem;
	border: none;
}

.fc-day-header:last-of-type {
	border-top-right-radius: 0.5rem;
}

.fc-head-container.fc-widget-header, .fc-body > tr > .fc-widget-content, .fc-row.fc-widget-header {
	border: none;
}

.fc-slats > div, .fc-week.fc-widget-content {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.fc-dayGridMonth-view .fc-row:last-of-type .fc-bg {
	border-bottom: 1px solid #ddd;
}

.fc-divider + .fc-scroller {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.fc-day {
	background-color: #eee;
}

.fc-day-header {
	border: none !important;
}

.fc-day-header span, .fc-day-header a, a.fc-list-heading-alt {
	text-transform: capitalize;
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
  border-color: inherit;
}

.fc-dayGrid-view .fc-day-number {
	text-decoration: none;
	font-weight: 500;
	padding: 0.25rem;
}

.fc-event {
	border: 1px solid #3a87ad;
}


/* Image gallery styling */
.path-bilder .views-view-grid {
	margin-bottom: 4rem;
}

.path-bilder h1.title {
	margin-bottom: 2rem;
}

.path-bilder .views-row {
	margin-bottom: 2rem;
}

.image-style-arkiv-bilder {
	box-shadow: 2px 2px 4px black;
}

.picture_view img {
	width: 100% !important;
	height: 100% !important;
}

/* Make the site responsive and mobile friendly */
@media screen and (max-width: 1200px) {
	.path-kalender #content {
		padding: initial;
	}
}

@media screen and (max-width: 1199px) {
	#block-pingpong-main-menu ul {
		flex-flow: column;
		justify-content: end;
	}

	.login-list {
		margin-right: auto;
		margin-left: auto;
	}

	.menu-list {
		margin-right: auto;
		margin-left: 2rem;
	}
}

@media screen and (max-width: 1000px) {
	.site-footer {
		padding-right: 0;
		padding-left: 0;
	}
}

@media screen and (max-width: 768px) {
	.fc-toolbar h2 {
		font-size: 1.5em;
	}

	.fc-today-button {
		margin-top: 0.25rem;
	}

	.banner h1 {
		font-size: 4rem;
		white-space: nowrap;
	}

	.banner p {
		font-style: 2rem;
	}
}

/* The admin toolbar no longer becomes fixed, adjust the navbar position accordingly */
/* Also remove the navbar shrinking animation and always use the minified version of the navbar. The animation gets laggy on mobiles */
@media screen and (max-width: 593px) {
	#navbar-top {
		top: 0 !important; /* Override the javascript function*/
	}

	#navbar-top section {
		padding-left: 0;
	}

	.navbar-brand img {
		width: 40% !important;
	}
}

@media screen and (max-width: 576px) {
	.path-kalender #main {
		padding-left: 1.5rem;
		padding-right: 0;
	}
}

@media screen and (max-width: 550px) {
	.site-footer {
		flex-direction: column;
		justify-content: center;
		padding-left: 10%;
		padding-right: 10%;
	}

	/* Shrink the size of the news titles */
	.ds-1col h2 {
		font-size: 1.2rem;
		margin-bottom: 0;
	}

	/* Adjust calendar navigation buttons */
	.fc-right .fc-button-group {
		flex-direction: column;
		gap: 0.25rem;
	}

	.fc-right .fc-button-group .fc-button {
		border-radius: 0.25rem;
	}

	.fc-today-button {
		display: block;
	}

	.banner h1 {
		white-space: normal;
	}
}

/* The banner text gets too big for the screen*/
@media screen and (max-width: 430px) {
	.banner h1 {
		font-size: 3.5rem;
	}

	.banner p {
		font-size: 1.75rem;
	}
}